<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello EJS!</h1>
    <!-- render传递进来的参数可以直接访问(借助特定标签) -->
    <h2>
        <%= name %>
    </h2>
    <h2>
        <%= age %>
    </h2>
</body>

</html>